*,
*::before,
*::after { box-sizing: border-box; }

body {
  max-width: 1024px;
  margin: 0 auto;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 30px;

  border: 1px dashed grey;
}

.header,
.main {
  position: relative;
  z-index: 100;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  padding-left: 120px;
  padding-bottom: 20px;

  border-bottom: 1px dashed grey;
}

.header__title {
  position: relative;
  z-index: 100;

  font-size: 36px;
}

.header__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 0 20px;
}

.header__icon { fill: #000000; }

.header__icon:hover { fill: rgba(0, 0, 255, 0.75); }

.columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 600px;
}

.avatar {
  display: flex;
  width: 300px;
  height: 600px;
  padding-top: 20px;

  object-fit: contain;
}

.goal { margin-top: 90px; }

.goal,
.skills,
.samples,
.education,
.languages {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.goal,
.skills {
  width: 704px;
  margin-right: 20px;
}

.goal__title,
.skills__title,
.samples__title,
.education__title,
.languages__title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.skills__list,
.education__list,
.languages__list,
.samples__list { list-style: none; }

.skills__list-item,
.education__list-item,
.languages__list-item {
  position: relative;

  padding-left: 50px;
}

.skills__list-item::before,
.education__list-item::before,
.languages__list-item::before {
  position: absolute;
  top: center;
  left: 0;

  width: 30px;
  height: 30px;

  background-image: url(../img/poring-.png);
  background-size: contain;
  background-repeat: no-repeat;

  content: "";
}

.samples__title { margin-bottom: 30px; }

.samples__list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.samples__list-item {
  display: flex;
  align-items: center;

  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.samples__list-item:hover { box-shadow: 0px 0px 5px rgba(0, 0, 255, 0.75); }

.samples__img {
  width: 400px;
  max-height: 600px;

  object-fit: scale-down;
}